body{
	margin: 0;
}
html, body{
	height: 100%; width: 100%;
}
/*.header, .footer{*/
	/*position: absolute; left: 0; right: 0;*/
/*}*/
/*.header{*/
	/*height: 50px;*/
	/*top: 0;*/
/*}*/
/*.footer{*/
	/*height: 50px;*/
	/*bottom: 0;*/
/*}*/
.content{
	position: absolute;
	top: 0;
	bottom: 52px;
  /*overflow-y: auto;*/
  /*overflow-x:hidden;*/
  overflow: auto;
	width: 100%;
}
.content-top{
	position: absolute;
	top: 48px;
	bottom: 52px;
	overflow: auto;
	width: 100%;
}
/* 加载 */
.overlay{
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba(0,0,0,.5);
	z-index: 9;
}
